.bg-black{
    background-color:rgba(14,14,14,1.00)
}

.carousel-caption{
    top: 200px; 
}

.bg-orange{
    background-color: #f0644f;
    color : aliceblue;
    font-weight: 600;
    text-align: center;
}
.m-right{
    border: 2px solid #f0644f ;
    border-right: 2px solid white;
}